.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
elpa/
eshell/
games/
ido.last
network-security.data
request/
url/
#init.el#
config.el
auto-save-list
.cache
.sx
init.el
bookmarks
snow.el
transient/history.el
/%backup%~
/site-lisp/
/tramp
/tutorial/
